h1 {
    justify-content: center;
}



div {
    background-color: lightgray;
    border:5px solid royalblue;
    padding: 10px;
    justify-content: center;
    margin: 25%;
    text-align: center;

}