html, body, header, div {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #0ebfe9;
    border-bottom: 1px solid lightgreen;
}

header > div {
    padding: 10px 30px;
    font-size: 22px;
    color: darkolivegreen;
}

main {
    background-image: url("paradise.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vw;
}