body {
    background-color: darkolivegreen;
}

a {
    display: block;
    font-size: 15rem;
    margin: 60px 0;
}

a:link {
    color: lightseagreen;
}

a:hover {
    color: red;
}

a:visited {
    color: blue;
}

a:active {
    color: yellow;
}

[target="_blank"] {
    border: 4px dashed blue;
}