li {
    font-size: 20px;
}

li:first-child {
    color: gold;
    font-size: 25px;
}

li:last-child {
    color: red;
    font-size: 25px;
}

li:nth-child(even) {
    background-color: darkseagreen;
}

li:nth-child(odd) {
    background-color: darkslategray;
}

li:nth-child(3) {
    background-color: red;
}

li:nth-child(10) {
    background-color: darkorchid;
}

li:nth-child(3n+2) {
    font-size: 25px;
}

article:only-child {
    background-color: deeppink;
}